progetto/my_lab.o
progetto/users.o
progetto/nodes.o
progetto/nodes
progetto/users
progetto/master
prog_file.odt
progetto/.idea/workspace.xml
progetto/.idea/vcs.xml
progetto/.idea/progetto.iml
progetto/.idea/modules.xml
progetto Pierluigi Secco - 880756/master.o
progetto Pierluigi Secco - 880756/my_lab.o
progetto Pierluigi Secco - 880756/nodes.o
progetto Pierluigi Secco - 880756/users.o
progetto Pierluigi Secco - 880756/nodes
progetto Pierluigi Secco - 880756/users
progetto Pierluigi Secco - 880756/master
progetto Pierluigi Secco - 880756/.idea/.name
progetto Pierluigi Secco - 880756/.idea/misc.xml
progetto Pierluigi Secco - 880756/.idea/modules.xml
progetto Pierluigi Secco - 880756/.idea/my_lab.c.iml
progetto Pierluigi Secco - 880756/.idea/vcs.xml
progetto Pierluigi Secco - 880756/.vscode/configurationCache.log
progetto Pierluigi Secco - 880756/.vscode/dryrun.log
progetto Pierluigi Secco - 880756/.vscode/settings.json
progetto Pierluigi Secco - 880756/.vscode/targets.log
